/* media queries! flexboxes!! */
:root {
    --background: #004643;
    --headingfont: #fffffe;
    --paragraphfont: #abd1c6;
    --button: #f9bc60;
    --buttonfont: #001e1d;
    --highlight: #e16162;
    --extracolor: #e8e4e6;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 150%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: var(--headingfont);
    background-image: url(./header-photo-1.jpg)
}

h1 {
    display: inline-block;
    font-size: 48px;
    color: var(--background);
    padding: 20px;
}

nav {
    padding-top: 5px;
    padding-right: 10px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    color: var(--background);
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;

}

main {
    background-color: var(--background);
    padding: 20px;
}

h2 {
    font-size: 28px;
    padding-bottom: 3%;
    color: var(--highlight);
}

a {
    color: var(--highlight);
}

img {
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
    border-radius: 5px;
}

section {
    border-bottom: 1px solid var(--highlight);
    padding-bottom: 10px;
    display: grid;
    width: 100%;
    color: var(--paragraphfont);
}

.about {
    grid-template-columns: 2fr 1fr 4fr;
    padding-top: 2%;
}

.about img {
    max-width: 75%;
    height: auto;
    border-radius: 50%;
}

.work {
    display: grid;
    width: 100%;
    padding-top: 2%;
    grid-template: repeat(4, 1fr);
    grid-template-areas:
        "itemheader . item1 item1"
        "itemheader . item2 item2"
        "itemheader . item3 item4"
        "itemheader . item5 item5";
    justify-items: center;
}

.itemheader {
    grid-area: itemheader;
}

.item1 {
    grid-area: item1;
    padding: 10px;
}

.item2 {
    grid-area: item2;
    padding: 10px;
}

.item3 {
    grid-area: item3;
    padding: 10px;
}

.item4 {
    grid-area: item4;
    padding: 10px;
}

.item5 {
    grid-area: item5;
    padding: 10px;
}

.card-header {
    position: relative;
    margin-top: -10px;
    border-style: ridge;
    border-width: 2px;
    background-color: var(--highlight);
    color: var(--extracolor);
    border-radius: 5px;
    font-size: 20px;
}


.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2%;
}

.contact ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    min-width: 300px;
    align-items: center;
    background-color: var(--background);
    color: var(--extracolor)
}

img:hover {
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0px 0px 8px var(--highlight), 0 0 15px var(--highlight);
    filter: grayscale(0%);
}

@media screen and (max-width: 992px) {
    section {
        display: flex;
        flex-direction: column;
    }

    .about img {
        max-width: 25%;
        padding: 3%;
    }

    .work {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        display: inline;
    }

    .contact ul {
        display: block;
    }

}